.todo-box {
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 5vw;
  border-radius: 20%;
}

#todo-form {
  margin-top: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.todo-form__top {
  display: flex;
  justify-content: center;
  width: 100%;
}

.todo-form__top input {
  width: 13vw;
  font-size: 2rem;
  font-weight: 600;
}

.expired,
.items {
  width: 3vw;
  height: 3vw;
  background-color: transparent;
  margin-left: 2%;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
  font-size: 1rem;
}

.save {
  width: 80%;
  height: 2.5rem;
  margin: 5% 0px;
  background-color: white;
  border: none;
  opacity: 0.9;
  border-radius: 20px;
  font-weight: 600;
  font-size: 2rem;
}

#todo-form input:focus {
  outline: none;
}

#todo-form input::placeholder {
  text-align: center;
  color: black;
  font-size: 2rem;
  font-weight: 600;
}

#todo-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 8%;
}

#todo-list button {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

#todo-list li {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todo-list span {
  margin: 0px 10px;
  font-size: 1.5rem;
}

.expired-text {
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  font-size: 1.7rem;
  border-radius: 20%;
}

.expired-text::-webkit-scrollbar {
  display: none;
}

.expired-text span {
  margin-top: 8%;
  font-weight: 600;
}

.result-exp {
  background-color: #89d4cf;
  background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  font-size: 1.7rem;
  border-radius: 20%;
}

.result-exp::-webkit-scrollbar {
  display: none;
}

.result-exp span {
  margin-top: 8%;
  font-weight: 600;
}

.tooltip {
  position: relative;
  display: flex;
  justify-content: flex-end;
  font-size: 1.3rem;
  width: 100%;
  padding: 8px 8px 0px 0px;
  margin-top: 10%;
  margin-right: 5%;
  cursor: pointer;
  z-index: 2;
  opacity: 0.7;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 15rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6%;
  padding: 5px 0;
  position: absolute;
  line-height: 30px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  border-style: solid;
  border-width: 5px;
}

/* expired text tooltip box */
.tooltip .tooltip-top {
  top: 1500%;
  left: 45%;
}

.tooltip .tooltip-top::after {
  top: -2%;
  right: 100%;
  margin-top: -5px;
  border-color: transparent black transparent transparent;
  transform: rotateZ(30deg);
}

/* exp result tooltip box */
.tooltip .tooltip-result-exp {
  top: 1000%;
  left: 45%;
}

.tooltip .tooltip-result-exp::after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-color: transparent black transparent transparent;
}

/* exp save box tooltip */
.tooltip-save__box {
  position: absolute;
  top: 7%;
  left: 90%;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  font-size: 1.3rem;
  padding: 8px 8px 0px 0px;
  cursor: pointer;
  opacity: 0.7;
}

.tooltip-save__box .tooltiptext-save__box {
  visibility: hidden;
  width: 15rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6%;
  padding: 5px 0;
  position: absolute;
  line-height: 30px;
}

.tooltip-save__box:hover .tooltiptext-save__box {
  visibility: visible;
}

.tooltip-save__box .tooltiptext-save__box::after {
  content: " ";
  position: absolute;
  border-style: solid;
  border-width: 5px;
}

.tooltip-save__box .tooltip-left {
  top: 1400%;
  right: 550%;
}

.tooltip-save__box .tooltip-left::after {
  top: -3px;
  left: 100%;
  margin-top: -5px;
  border-color: transparent transparent transparent black;
  transform: rotateZ(-30deg);
}
