.ent-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  position: absolute;
  bottom: 205px;
}

.login-box input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 7px solid #5d3d27;
  width: 330px;
  height: 100px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

#login-form input {
  font-size: 30px;
  text-align: center;
}

.clone {
  margin-top: 3px;
  border-bottom: 7px solid #5d3d27;
}

.login-box input::placeholder {
  color: black;
  text-align: center;
  font-size: 25px;
}

.login-box input:focus {
  outline: none;
}

#greetings span:first-child,
#greetings span:last-child {
  position: absolute;
  font-size: 2rem;
  text-align: center;
}

#greetings span:first-child {
  top: -40%;
  left: -15%;
  transform: rotateZ(-30deg);
  border: 3px solid #b7510a;
  box-shadow: 1px 1px 5px 2px #b7510a;
  width: 7vw;
  height: 10vw;
  border-radius: 50%;
  padding: 10px 30px;
  background-color: #d49649;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b7510a;
}

#greetings span:last-child {
  top: -10%;
  left: 46%;
  width: 15vw;
  background-color: #a22e13;
  border: 1px solid rgb(212, 88, 108);
  box-shadow: 1px 1px 5px 2px rgb(212, 88, 108);
  border-radius: 40px;
  padding: 3px 30px;
  transform: rotateZ(30deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dish {
  width: 43vw;
  height: 43vw;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid rgb(112, 183, 216);
  position: relative;
}

.circle {
  width: 29vw;
  height: 29vw;
  background-color: rgb(224, 222, 222);
  opacity: 0.4;
  border-radius: 50%;
  border: 1px solid;
  box-shadow: 1px 1px 3px 3px rgb(173, 173, 173);
  position: absolute;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle h2 {
  color: black;
  font-size: 6rem;
}

#move-button {
  width: 22vw;
  height: 20vw;
  background-color: white;
  opacity: 0.5;
  border: 2px solid gray;
  box-shadow: 1px 1px 3px 3px gray;
  border-radius: 50%;
  position: relative;
  bottom: -9vw;
}

#move-botton__sub {
  width: 10vw;
  height: 10vw;
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  left: 27%;
  bottom: -22%;
}

#move-botton__sub span {
  position: absolute;
  text-align: center;
  top: 60px;
  padding: 0px 10px;
  line-height: 30px;
  font-weight: 600;
  color: rgb(133, 219, 115);
  font-size: 18px;
}
