.page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d;
  transition: 1s;
  transform-origin: center;
  background-image: url("https://post-phinf.pstatic.net/MjAxODEyMjBfMTYy/MDAxNTQ1Mjg2MTY2MTg4.EMsVh-XLO8k1jOkWNcZrrjXfhTlKX3Zig2yUYpwQozMg.AKIGpGLH9oHUoInx36ZAesEA6sXuzLt-aS6sDJ2Nfncg.JPEG/96f46544fe3de03b2eafe36ce1c35c7f.jpg?type=w1200");
}

.page-bottom {
  height: 1000vh;
  top: -400vh;
  transform: rotateX(90deg);
}

.page-right {
  width: 30vw;
  height: 90vh;
  left: 230vh;
  top: -5vw;
  border-radius: 20%;
  transform: rotateY(-20deg) translateZ(100vw);
  overflow: scroll;
  -ms-overflow-style: none;
}

.page-right::-webkit-scrollbar {
  display: none;
}

.page-left {
  width: 30vw;
  height: 90vh;
  left: 30vh;
  top: -5vw;
  border-radius: 20%;
  overflow: hidden;
  -ms-overflow-style: none;
  transform: rotateY(20deg) translateZ(-80vw);
}

.page-left::-webkit-scrollbar {
  display: none;
}

.page_front-login {
  transform: translateZ(70vw);
}

.page_front-login.opened {
  transform: perspective(800px) translateY(-700px);
}

.page_front-main {
  transform: translateZ(-100vw);
}

.page_front-main.opened {
  transform: translateZ(-150vw) perspective(800px) translateY(-700px);
}

.page_front-notepad {
  transform: translateZ(-240vw);
}
